# –†–∞–∑–≤–µ–¥–æ—á–Ω—ã–π –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö

## –û–ø–∏—Å–∞–Ω–∏–µ

–û—Å–Ω–æ–≤–Ω–∞—è –∑–∞–¥–∞—á–∞ –ø—Ä–æ–µ–∫—Ç–∞ ‚Äì –≤—ã—è–≤–∏—Ç—å –∫–ª—é—á–µ–≤—ã–µ —Ç–µ–º—ã –æ–±—Å—É–∂–¥–µ–Ω–∏–π —É 18 –∞–∫—Ç–∏–≤–Ω—ã—Ö —á–∞—Ç–æ–≤ –∏ –∫–∞–Ω–∞–ª–æ–≤ –≤—ã–ø—É—Å–∫–Ω—ã—Ö —Å–æ–æ–±—â–µ—Å—Ç–≤ –Ø–Ω–¥–µ–∫—Å –ü—Ä–∞–∫—Ç–∏–∫—É–º–∞, –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å, –∫–∞–∫–∏–µ –∏–∑ –Ω–∏—Ö –Ω–∞–∏–±–æ–ª–µ–µ –∏–Ω—Ç–µ—Ä–µ—Å–Ω—ã –∞—É–¥–∏—Ç–æ—Ä–∏–∏, –∏ –Ω–∞ –æ—Å–Ω–æ–≤–µ —ç—Ç–æ–≥–æ —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞—Ç—å –∏–Ω—Ñ–æ—Ä–º–∞—Ç–∏–≤–Ω—ã–µ –¥–∞–π–¥–∂–µ—Å—Ç—ã –¥–ª—è –≤—ã–ø—É—Å–∫–Ω–∏–∫–æ–≤.

**–ö–æ–Ω—Ç–µ–∫—Å—Ç**

- –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø—Ä–æ–≤–µ—Å—Ç–∏ –ø–µ—Ä–≤–∏—á–Ω—ã–π –∞–Ω–∞–ª–∏–∑ —Å–æ–æ–±—â–µ–Ω–∏–π,

**–ß—Ç–æ –Ω—É–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å?**

1. –∫—Ç–æ –ø–∏—à–µ—Ç —á–∞—Å—Ç–æ
2. –≤ –∫–∞–∫–æ–µ –≤—Ä–µ–º—è —á–∞—â–µ –≤—Å–µ–≥–æ –ø–∏—à—É—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏
3. —Å–∫–æ–ª—å–∫–æ –ø–∏—à—É—Ç —Å–æ–æ–±—â–µ–Ω–∏–π —Å–∫–æ–ª—å–∫–æ
4. –∞–Ω–∞–ª–∏–∑ –≤—Ä–µ–º–µ–Ω–∏ ‚Üí –ø–∏–∫–∏ –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏, –¥–Ω–∏ –Ω–µ–¥–µ–ª–∏.
5. –ø–æ–¥—É–º–∞—Ç—å, —á—Ç–æ –º–æ–∂–Ω–æ –µ—â–µ –ø–æ—Å—á–∏—Ç–∞—Ç—å –ø–æ–ª–µ–∑–Ω–æ–≥–æ

**–†–µ–∑—É–ª—å—Ç–∞—Ç:**

- –∫–æ–¥ .py, .ipynb
- csv/xlsx —Ñ–∞–π–ª —Å–æ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–æ–π

## –ë–∏–±–ª–∏–æ—Ç–µ–∫–∏

In [2]:
import logging
import os
import warnings

import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import shap
from scipy import stats
from scipy.optimize import minimize
from scipy.stats import mstats
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.statespace.sarimax import SARIMAX

# –ù–∞—Å—Ç—Ä–æ–π–∫–∞ –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤ matplotlib
mpl.rcParams.update(mpl.rcParamsDefault)

# –ù–∞—Å—Ç—Ä–æ–π–∫–∞ –ª–æ–≥–∏—Ä–æ–≤–∞–Ω–∏—è
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

# –ò–≥–Ω–æ—Ä–∏—Ä–æ–≤–∞–Ω–∏–µ –ø—Ä–µ–¥—É–ø—Ä–µ–∂–¥–µ–Ω–∏–π
warnings.filterwarnings('ignore')

# –ù–∞—Å—Ç—Ä–æ–π–∫–∞ —Å—Ç–∏–ª—è seaborn
sns.set_context("notebook", font_scale=1.2)
sns.set_style("whitegrid")

# –í–∫–ª—é—á–µ–Ω–∏–µ –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏—è –≥—Ä–∞—Ñ–∏–∫–æ–≤ –≤ Jupyter Notebook
%matplotlib inline

## –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞—Ç–∞—Å–µ—Ç–æ–≤

In [3]:
df = pd.read_csv('..\def_Klyusnik_A\output\processed_messages.csv')
df_1 = pd.read_csv('..\def_Klyusnik_A\output\processed_messages_1.csv')

print('–ó–∞–≥—Ä—É–∑–∫–∞ df:', df.shape, '–∑–∞–≥—Ä—É–∑–∫–∞ df_1:', df_1.shape)

–ó–∞–≥—Ä—É–∑–∫–∞ df: (13, 18) –∑–∞–≥—Ä—É–∑–∫–∞ df_1: (1007, 36)

## Df –ü–µ—Ä–≤—ã–π –¥–∞—Ç–∞—Å–µ—Ç –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–π –∑–∞–∫–∞–∑—á–∏–∫–æ–º

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             13 non-null     object
 1   type             13 non-null     object
 2   id_first         13 non-null     int64
 3   id               13 non-null     int64
 4   type.1           13 non-null     object
 5   date             13 non-null     object
 6   date_unixtime    13 non-null     int64
 7   edited           13 non-null     object
 8   edited_unixtime  13 non-null     int64
 9   from             13 non-null     object
 10  from_id          13 non-null     object
 11  text             13 non-null     object
 12  text_entities    13 non-null     object
 13  reactions        13 non-null     object
 14  photo            9 non-null      object
 15  photo_file_size  9 non-null      float64
 16  width            9 non-null      float64
 17  height           9 non-null      float64
dtypes: float64(3), int64(4), object(11)
memory usage: 2.0+ KB

In [5]:
df.head(5)

,name,type,id_first,id,type.1,date,date_unixtime,edited,edited_unixtime,from,from_id,text,text_entities,reactions,photo,photo_file_size,width,height
0,MANAGEMENT ALUMNI PRACTICUM,private_channel,1586396652,856,message,2025-02-01T14:06:16,1738407976,2025-02-01T14:07:41,1738408061,MANAGEMENT ALUMNI PRACTICUM,channel1586396652,"[{'type': 'bold', 'text': 'üí•'}, {'type': 'bold...","[{'type': 'bold', 'text': 'üí•'}, {'type': 'bold...","[{'type': 'emoji', 'count': 6, 'emoji': 'üëç'}, ...",NaN,NaN,NaN,NaN
1,MANAGEMENT ALUMNI PRACTICUM,private_channel,1586396652,857,message,2025-02-02T14:07:55,1738494475,2025-02-03T13:05:36,1738577136,MANAGEMENT ALUMNI PRACTICUM,channel1586396652,"[{'type': 'bold', 'text': 'üí≠ –ü–µ—Ä–µ–≥–æ–≤–æ—Ä–Ω—ã–π –∫–ª—É–±...","[{'type': 'bold', 'text': 'üí≠ –ü–µ—Ä–µ–≥–æ–≤–æ—Ä–Ω—ã–π –∫–ª—É–±...","[{'type': 'emoji', 'count': 8, 'emoji': 'üî•'}, ...",photos/photo_368@02-02-2025_14-07-55.jpg,130046.0,1280.0,1280.0
2,MANAGEMENT ALUMNI PRACTICUM,private_channel,1586396652,858,message,2025-02-03T14:04:43,1738580683,2025-02-03T14:10:35,1738581035,MANAGEMENT ALUMNI PRACTICUM,channel1586396652,"[{'type': 'bold', 'text': '–£ –ü—Ä–∞–∫—Ç–∏–∫—É–º–∞ –Ω–æ–≤—ã–π ...","[{'type': 'bold', 'text': '–£ –ü—Ä–∞–∫—Ç–∏–∫—É–º–∞ –Ω–æ–≤—ã–π ...","[{'type': 'emoji', 'count': 11, 'emoji': 'üî•'},...",NaN,NaN,NaN,NaN
3,MANAGEMENT ALUMNI PRACTICUM,private_channel,1586396652,859,message,2025-02-04T19:02:42,1738684962,2025-02-04T19:08:41,1738685321,MANAGEMENT ALUMNI PRACTICUM,channel1586396652,"[{'type': 'bold', 'text': '–ü—Ä—è–º–æ–π —ç—Ñ–∏—Ä —Å –û–ª–µ–π ...","[{'type': 'bold', 'text': '–ü—Ä—è–º–æ–π —ç—Ñ–∏—Ä —Å –û–ª–µ–π ...","[{'type': 'emoji', 'count': 8, 'emoji': 'üëç'}, ...",photos/photo_369@04-02-2025_19-02-42.jpg,108894.0,1280.0,1280.0
4,MANAGEMENT ALUMNI PRACTICUM,private_channel,1586396652,860,message,2025-02-07T14:07:55,1738926475,2025-02-07T14:09:14,1738926554,MANAGEMENT ALUMNI PRACTICUM,channel1586396652,"[{'type': 'bold', 'text': '–ü–∏—Ç—á–∏–Ω–≥: –∫–∞–∫ –ø—Ä–µ–∑–µ–Ω...","[{'type': 'bold', 'text': '–ü–∏—Ç—á–∏–Ω–≥: –∫–∞–∫ –ø—Ä–µ–∑–µ–Ω...","[{'type': 'emoji', 'count': 11, 'emoji': 'üî•'},...",NaN,NaN,NaN,NaN

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id_first,13.0,1.586397e+09,0.000000,1.586397e+09,1.586397e+09,1.586397e+09,1.586397e+09,1.586397e+09
id,13.0,8.620000e+02,3.894440,8.560000e+02,8.590000e+02,8.620000e+02,8.650000e+02,8.680000e+02
date_unixtime,13.0,1.739319e+09,708246.072971,1.738408e+09,1.738685e+09,1.739186e+09,1.739877e+09,1.740560e+09
edited_unixtime,13.0,1.739326e+09,700785.169874,1.738408e+09,1.738685e+09,1.739186e+09,1.739877e+09,1.740561e+09
photo_file_size,9.0,1.302191e+05,17649.220255,9.600600e+04,1.257000e+05,1.328580e+05,1.452550e+05,1.460310e+05
width,9.0,1.257778e+03,66.666667,1.080000e+03,1.280000e+03,1.280000e+03,1.280000e+03,1.280000e+03
height,9.0,1.252000e+03,65.084560,1.080000e+03,1.260000e+03,1.280000e+03,1.280000e+03,1.280000e+03

In [7]:
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

name - 0%
type - 0%
id_first - 0%
id - 0%
type.1 - 0%
date - 0%
date_unixtime - 0%
edited - 0%
edited_unixtime - 0%
from - 0%
from_id - 0%
text - 0%
text_entities - 0%
reactions - 0%
photo - 31%
photo_file_size - 31%
width - 31%
height - 31%

**–û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–ø–∏—Å–µ–π:** 13

**–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–æ–ª–æ–Ω–æ–∫:** 18

**–ü—Ä–æ–ø—É—Å–∫–∏:**

–ö–æ–ª–æ–Ω–∫–∏ photo, photo_file_size, width, –∏ height –∏–º–µ—é—Ç –ø—Ä–æ–ø—É—Å–∫–∏ (9 –Ω–µ–Ω—É–ª–µ–≤—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –∏–∑ 13).
–û—Å—Ç–∞–ª—å–Ω—ã–µ –∫–æ–ª–æ–Ω–∫–∏ –Ω–µ —Å–æ–¥–µ—Ä–∂–∞—Ç –ø—Ä–æ–ø—É—Å–∫–æ–≤.

**–¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö:**

- 4 –∫–æ–ª–æ–Ω–∫–∏ –∏–º–µ—é—Ç —Ç–∏–ø int64.
- 3 –∫–æ–ª–æ–Ω–∫–∏ –∏–º–µ—é—Ç —Ç–∏–ø float64.
- 11 –∫–æ–ª–æ–Ω–æ–∫ –∏–º–µ—é—Ç —Ç–∏–ø object (—Å—Ç—Ä–æ–∫–æ–≤—ã–µ –¥–∞–Ω–Ω—ã–µ).

**–°—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏–µ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏:**

- –ö–æ–ª–æ–Ω–∫–∞ id_first –∏–º–µ–µ—Ç –ø–æ—Å—Ç–æ—è–Ω–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ (1.586397e+09).
- –ö–æ–ª–æ–Ω–∫–∞ id –≤–∞—Ä—å–∏—Ä—É–µ—Ç—Å—è –æ—Ç 856 –¥–æ 868.
- –í—Ä–µ–º–µ–Ω–Ω—ã–µ –º–µ—Ç–∫–∏ (date_unixtime –∏ edited_unixtime) –∏–º–µ—é—Ç —Å—Ö–æ–∂–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è, —Å –Ω–µ–±–æ–ª—å—à–∏–º–∏ –∫–æ–ª–µ–±–∞–Ω–∏—è–º–∏.
- –î–ª—è –∫–æ–ª–æ–Ω–æ–∫ photo_file_size, width –∏ height –¥–æ—Å—Ç—É–ø–Ω—ã —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏–µ –¥–∞–Ω–Ω—ã–µ —Ç–æ–ª—å–∫–æ –¥–ª—è 9 –∑–∞–ø–∏—Å–µ–π, —á—Ç–æ —É–∫–∞–∑—ã–≤–∞–µ—Ç –Ω–∞ –Ω–∞–ª–∏—á–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤.

### name

In [8]:
df['name'].unique()

array(['MANAGEMENT ALUMNI PRACTICUM'], dtype=object)

**–ê–Ω–∞–ª–∏–∑ –æ–¥–Ω–æ–≥–æ —á–∞—Ç–∞**

### type

In [10]:
df['type'].unique()

array(['private_channel'], dtype=object)

**–¢–æ–ª—å–∫–æ –ø—Ä–∏–≤–∞—Ç–Ω—ã–π –∫–∞–Ω–∞–ª –º–µ–Ω–µ–¥–∂–º–µ–Ω—Ç–∞**

### id_first

In [11]:
df['id_first'].unique()

array([1586396652], dtype=int64)

**–î–∞–Ω–Ω—ã–π id - —Å–∞–º –∫–∞–Ω–∞–ª**

### id

In [12]:
df['id'].unique()

array([856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868],
      dtype=int64)

**–ö–∞–∂–¥–æ–µ —Å–æ–æ–±—â–µ–Ω–∏–µ –∏–¥–µ—Ç —Å –ø—Ä–∏—Å–≤–æ–µ–Ω–∏–µ–º —Å–≤–æ–µ–≥–æ id**

### type.1

In [13]:

df['type.1'].unique()

array(['message'], dtype=object)

**–ú–∞—Ä–∫–∏—Ä–æ–≤–∫–∞ —Ç–∏–ø–∞ —Å–æ–æ–±—â–µ–Ω–∏—è. –í –¥—Ä—É–≥–∏—Ö –¥–∞—Ç–∞—Å–µ—Ç–∞—Ö –æ–Ω–æ –º–æ–∂–µ—Ç –æ—Ç–ª–∏—á–∞—Ç—å—Å—è**

## date

In [14]:
df['date'] = pd.to_datetime(df['date'])

df['date_only'] = df['date'].dt.date

# –ò–∑–≤–ª–µ—á–µ–Ω–∏–µ –¥–Ω—è –Ω–µ–¥–µ–ª–∏
df['day_of_week'] = df['date'].dt.day_name()  # –∏–ª–∏ df['date'].dt.weekday –¥–ª—è —á–∏—Å–ª–æ–≤–æ–≥–æ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∏—è (0=–ø–æ–Ω–µ–¥–µ–ª—å–Ω–∏–∫, 6=–≤–æ—Å–∫—Ä–µ—Å–µ–Ω—å–µ)

# –ò–∑–≤–ª–µ—á–µ–Ω–∏–µ –≤—Ä–µ–º–µ–Ω–∏
df['time_only'] = df['date'].dt.time

In [15]:
df['date_only']

0     2025-02-01
1     2025-02-02
2     2025-02-03
3     2025-02-04
4     2025-02-07
5     2025-02-08
6     2025-02-10
7     2025-02-13
8     2025-02-17
9     2025-02-18
10    2025-02-20
11    2025-02-21
12    2025-02-26
Name: date_only, dtype: object

**–í—Å–≥–æ 12 –¥–Ω–µ–π —Ñ–µ–≤—Ä–∞–ª—è**

In [16]:
df['day_of_week']

0      Saturday
1        Sunday
2        Monday
3       Tuesday
4        Friday
5      Saturday
6        Monday
7      Thursday
8        Monday
9       Tuesday
10     Thursday
11       Friday
12    Wednesday
Name: day_of_week, dtype: object