# –ü–∞—Ä—Å–∏–Ω–≥ json —Ñ–∞–π–ª–∞

## –ë–∏–±–ª–∏–æ—Ç–µ–∫–∏

In [18]:
import json
import pandas as pd
import numpy as np
import os

## –ß—Ç–µ–Ω–∏–µ —Ñ–∞–π–ª–∞

In [19]:
def load_and_process_json(file_path):
    # –ß—Ç–µ–Ω–∏–µ JSON —Ñ–∞–π–ª–∞
    with open(file_path, 'r', encoding='utf-8') as file:
        data = json.load(file)
    
    # –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –≤ DataFrame
    df = pd.DataFrame(data)
    
    # –ü–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏ 'id' –≤ 'id_first'
    df.rename(columns={'id': 'id_first'}, inplace=True)
    
    # –ù–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è –≤–ª–æ–∂–µ–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö (–∫–æ–ª–æ–Ω–∫–∞ 'messages')
    messages_df = pd.json_normalize(df['messages'])
    
    # –û–±—ä–µ–¥–∏–Ω–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö
    result_df = pd.concat([df.drop(columns=['messages']), messages_df], axis=1)
    
    return result_df

In [21]:
# –ó–∞–≥—Ä—É–∑–∫–∞ –∏ –æ–±—Ä–∞–±–æ—Ç–∫–∞ –ø–µ—Ä–≤–æ–≥–æ JSON —Ñ–∞–π–ª–∞
result_df = load_and_process_json('../data/example/result.json')

# –ó–∞–≥—Ä—É–∑–∫–∞ –∏ –æ–±—Ä–∞–±–æ—Ç–∫–∞ –≤—Ç–æ—Ä–æ–≥–æ JSON —Ñ–∞–π–ª–∞
result_df_1 = load_and_process_json('../def_Klyusnik_A/input/data_2 iteration/result.json')

In [22]:
print(result_df.index.is_unique)  # –î–æ–ª–∂–Ω–æ –±—ã—Ç—å True
print(result_df_1.index.is_unique)

True
True

In [23]:
print('–ù–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫:', result_df.columns)
print('–†–∞–∑–º–µ—Ä –¥–∞—Ç–∞—Å–µ—Ç–∞:', result_df.shape)
result_df.head(4)

–ù–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫: Index(['name', 'type', 'id_first', 'id', 'type', 'date', 'date_unixtime',
       'edited', 'edited_unixtime', 'from', 'from_id', 'text', 'text_entities',
       'reactions', 'photo', 'photo_file_size', 'width', 'height'],
      dtype='object')
–†–∞–∑–º–µ—Ä –¥–∞—Ç–∞—Å–µ—Ç–∞: (13, 18)

,name,type,id_first,id,type,date,date_unixtime,edited,edited_unixtime,from,from_id,text,text_entities,reactions,photo,photo_file_size,width,height
0,MANAGEMENT ALUMNI PRACTICUM,private_channel,1586396652,856,message,2025-02-01T14:06:16,1738407976,2025-02-01T14:07:41,1738408061,MANAGEMENT ALUMNI PRACTICUM,channel1586396652,"[{'type': 'bold', 'text': 'üí•'}, {'type': 'bold...","[{'type': 'bold', 'text': 'üí•'}, {'type': 'bold...","[{'type': 'emoji', 'count': 6, 'emoji': 'üëç'}, ...",NaN,NaN,NaN,NaN
1,MANAGEMENT ALUMNI PRACTICUM,private_channel,1586396652,857,message,2025-02-02T14:07:55,1738494475,2025-02-03T13:05:36,1738577136,MANAGEMENT ALUMNI PRACTICUM,channel1586396652,"[{'type': 'bold', 'text': 'üí≠ –ü–µ—Ä–µ–≥–æ–≤–æ—Ä–Ω—ã–π –∫–ª—É–±...","[{'type': 'bold', 'text': 'üí≠ –ü–µ—Ä–µ–≥–æ–≤–æ—Ä–Ω—ã–π –∫–ª—É–±...","[{'type': 'emoji', 'count': 8, 'emoji': 'üî•'}, ...",photos/photo_368@02-02-2025_14-07-55.jpg,130046.0,1280.0,1280.0
2,MANAGEMENT ALUMNI PRACTICUM,private_channel,1586396652,858,message,2025-02-03T14:04:43,1738580683,2025-02-03T14:10:35,1738581035,MANAGEMENT ALUMNI PRACTICUM,channel1586396652,"[{'type': 'bold', 'text': '–£ –ü—Ä–∞–∫—Ç–∏–∫—É–º–∞ –Ω–æ–≤—ã–π ...","[{'type': 'bold', 'text': '–£ –ü—Ä–∞–∫—Ç–∏–∫—É–º–∞ –Ω–æ–≤—ã–π ...","[{'type': 'emoji', 'count': 11, 'emoji': 'üî•'},...",NaN,NaN,NaN,NaN
3,MANAGEMENT ALUMNI PRACTICUM,private_channel,1586396652,859,message,2025-02-04T19:02:42,1738684962,2025-02-04T19:08:41,1738685321,MANAGEMENT ALUMNI PRACTICUM,channel1586396652,"[{'type': 'bold', 'text': '–ü—Ä—è–º–æ–π —ç—Ñ–∏—Ä —Å –û–ª–µ–π ...","[{'type': 'bold', 'text': '–ü—Ä—è–º–æ–π —ç—Ñ–∏—Ä —Å –û–ª–µ–π ...","[{'type': 'emoji', 'count': 8, 'emoji': 'üëç'}, ...",photos/photo_369@04-02-2025_19-02-42.jpg,108894.0,1280.0,1280.0

In [24]:
print('–ù–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫:', result_df_1.columns)
print('–†–∞–∑–º–µ—Ä –¥–∞—Ç–∞—Å–µ—Ç–∞:', result_df_1.shape)
result_df_1.head(4)

–ù–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫: Index(['name', 'type', 'id_first', 'id', 'type', 'date', 'date_unixtime',
       'actor', 'actor_id', 'action', 'inviter', 'text', 'text_entities',
       'from', 'from_id', 'reply_to_message_id', 'edited', 'edited_unixtime',
       'reactions', 'file', 'file_name', 'file_size', 'thumbnail',
       'thumbnail_file_size', 'media_type', 'sticker_emoji', 'mime_type',
       'duration_seconds', 'width', 'height', 'forwarded_from', 'saved_from',
       'photo', 'photo_file_size', 'via_bot', 'members'],
      dtype='object')
–†–∞–∑–º–µ—Ä –¥–∞—Ç–∞—Å–µ—Ç–∞: (1007, 36)

,name,type,id_first,id,type,date,date_unixtime,actor,actor_id,action,...,mime_type,duration_seconds,width,height,forwarded_from,saved_from,photo,photo_file_size,via_bot,members
0,üí¨ Data Practicum Chat,private_supergroup,1379846874,266690,service,2025-02-01T22:40:19,1738438819,–ï–ª–∏–∑–∞–≤–µ—Ç–∞,user200103497,join_group_by_link,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,üí¨ Data Practicum Chat,private_supergroup,1379846874,266691,service,2025-02-02T21:59:34,1738522774,Agamet Agametov,user217302209,join_group_by_link,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,üí¨ Data Practicum Chat,private_supergroup,1379846874,266693,message,2025-02-03T11:28:38,1738571318,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,üí¨ Data Practicum Chat,private_supergroup,1379846874,266694,message,2025-02-03T11:52:20,1738572740,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
output_dir = '../def_Klyusnik_A/output'
output_file_name = 'processed_messages.csv'
output_path = os.path.join(output_dir, output_file_name)

# –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –≤ CSV —Ñ–∞–π–ª
result_df.to_csv(output_path, index=False, encoding='utf-8')
print(f"\n–î–∞–Ω–Ω—ã–µ —Å–æ—Ö—Ä–∞–Ω–µ–Ω—ã –≤ —Ñ–∞–π–ª: {output_path}")

–î–∞–Ω–Ω—ã–µ —Å–æ—Ö—Ä–∞–Ω–µ–Ω—ã –≤ —Ñ–∞–π–ª: ../def_Klyusnik_A/output\processed_messages.csv

In [26]:
output_dir = '../def_Klyusnik_A/output'
output_file_name = 'processed_messages_1.csv'
output_path = os.path.join(output_dir, output_file_name)

# –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –≤ CSV —Ñ–∞–π–ª
result_df_1.to_csv(output_path, index=False, encoding='utf-8')
print(f"\n–î–∞–Ω–Ω—ã–µ —Å–æ—Ö—Ä–∞–Ω–µ–Ω—ã –≤ —Ñ–∞–π–ª: {output_path}")

–î–∞–Ω–Ω—ã–µ —Å–æ—Ö—Ä–∞–Ω–µ–Ω—ã –≤ —Ñ–∞–π–ª: ../def_Klyusnik_A/output\processed_messages_1.csv